<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497151991456-7n3p3cil9r1641a9ojamga80l7ch6k23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497151991456-7n3p3cil9r1641a9ojamga80l7ch6k23</string>
	<key>API_KEY</key>
	<string>AIzaSyC_dwATU6aDWqWWJwgxZvz7Te3577vS8Qg</string>
	<key>GCM_SENDER_ID</key>
	<string>497151991456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rosaliasl.techStory</string>
	<key>PROJECT_ID</key>
	<string>techstory-736d8</string>
	<key>STORAGE_BUCKET</key>
	<string>techstory-736d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497151991456:ios:f63bc534af8ac2efb2b3c5</string>
	<key>DATABASE_URL</key>
	<string>https://techstory-736d8.firebaseio.com</string>
</dict>
</plist>